/* --------------------Pagina DETALLE-------------------------------------------------------------------- */
#body-ropa {
  height: 100% !important;
  background-color: rgba(227, 227, 227, 0.643);
}
#body-ropa main {
  height: 100% !important;
}
#body-ropa main #contePrincipal {
  width: 100vw;
  height: 90vh;
}
#body-ropa main #contePrincipal div #imgLateral img {
  height: 100px;
  width: 100px;
  margin: 6px !important;
  size: contain !important;
  border-radius: 20px !important;
  border: 1px solid gray !important;
  box-shadow: 0 0 2px rgb(77, 77, 77) !important;
  padding: 0 !important;
}
#body-ropa main #contePrincipal div #imgLateral img:hover {
  scale: 1.1;
  box-shadow: 0 0 5px black !important;
}
#body-ropa main #contePrincipal div #imgPrinc img {
  height: 490px;
  width: 520px;
  border-radius: 50px 15px !important;
  box-shadow: 5px 5px 15px gray;
}
#body-ropa main #contePrincipal #conteDetalles {
  font-family: "Roboto", sans-serif !important;
}
#body-ropa main #contePrincipal #conteDetalles h1 {
  text-shadow: 1px 0 2px rgb(100, 100, 100) !important;
}
#body-ropa main #contePrincipal #conteDetalles h2 {
  font-size: 27px !important;
  color: rgb(9, 9, 9) !important;
  text-shadow: 1px 1px 4px rgb(58, 58, 58) !important;
}
#body-ropa main #contePrincipal #conteDetalles p {
  font-size: 15px !important;
}
#body-ropa main #contePrincipal #conteDetalles .Talle {
  height: 30px;
  margin: 8px;
  padding: 0 10px 15px 10px;
  width: 100%;
}
#body-ropa main #contePrincipal #conteDetalles .Talle label {
  font-weight: bolder;
}
#body-ropa main #contePrincipal #conteDetalles .Talle select {
  width: 60%;
  margin: 2px 20px;
  padding: 3px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  border-radius: 8px;
  background-color: rgba(222, 221, 221, 0.835);
  letter-spacing: 3px;
}
#body-ropa main #contePrincipal #conteDetalles .comprar {
  margin: 15px 10px;
  width: 95%;
  height: 40px;
  border-radius: 8px;
  border: 0px solid;
  background-color: rgb(81, 80, 80);
  color: aliceblue;
  text-shadow: 1px 1px 15px rgb(72, 72, 72);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 15px black, 1px 1px 1px black;
}
#body-ropa main #contePrincipal #conteDetalles .comprar:hover {
  background-color: rgb(54, 54, 54);
}
#body-ropa main #contePrincipal #conteDetalles .agregarAlCarrito {
  margin: 15px 10px;
  width: 95%;
  height: 40px;
  border-radius: 8px;
  border: 0px solid;
  background-color: rgb(135, 135, 135);
  color: aliceblue;
  text-shadow: 1px 1px 15px rgb(72, 72, 72);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 15px black, 1px 1px 1px black;
}
#body-ropa main #contePrincipal #conteDetalles .agregarAlCarrito:hover {
  background-color: rgb(43, 43, 43);
}
#body-ropa main #contePrincipal #conteDetalles .masDetalles {
  list-style: none;
}
#body-ropa main #contePrincipal #conteDetalles .masDetalles li {
  padding: 10px 10px 10px;
}
#body-ropa main #contePrincipal #conteDetalles .masDetalles li:hover {
  text-shadow: 1px 1px 2px rgb(79, 79, 79);
}
#body-ropa main #cuponPrimeraCompra {
  box-shadow: 0 0 10px black;
  background-color: rgba(127, 127, 127, 0.643);
}
#body-ropa main #cuponPrimeraCompra h2 {
  text-align: center;
}

@media (max-width: 813px) {
  #imgLateral img {
    height: 80px !important;
    width: 80px !important;
    margin: 6px !important;
  }
  .Talle form select {
    width: 50% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 767px) {
  #imgPrinc img {
    height: 370px !important;
    width: 370px !important;
  }
}
@media (max-width: 635px) {
  #imgLateral img {
    height: 65px !important;
    width: 65px !important;
    margin: 2px !important;
  }
}
@media (max-width: 575px) {
  #contePrincipal {
    height: auto !important;
  }
  #conteDetalles {
    padding-top: 5px !important;
    padding-left: 15px !important;
    width: 95vw !important;
  }
}
@media (max-width: 449px) {
  #imgPrinc {
    width: 100vw !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
  }
}/*# sourceMappingURL=pag-capera-detalle.css.map */