
*{
    margin: 0;
    padding: 0;
}


body{
    overflow-x: hidden;
}

body header{
    width: 100%;
    height: 85px;
    background-color: rgba(255, 214, 111, 0.988);
    margin-bottom: 0px;
    font-size: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 5px rgb(114, 114, 114);
    }

                #logo{
                    position: absolute;
                    margin: 6px 2%;
                    border-radius: 30px 6px;
                    border: rgba(249, 201, 82, 0.975) solid 1px;
                }

                .busqueda{
                    position: absolute;
                    top: 3vh;
                    right: 320px;
                    width: 60vw;
                }

                .usuerAction{
                    position: absolute;
                    top: 1vh;
                    right: 1%;
                    width: 290px;
                    height: 53px;
                    margin: 5px;
                    padding: 0px;
                }
                
                    .usuario {
                            display: inline-block;
                            height: 35px;
                            width: 40px;
                            margin: 5px 18px;
                            padding: 2px 8px;
                            border-radius: 10px 5px;
                            border-right: 2px rgba(53, 52, 52, 0.562) solid ;
                        background-color: rgba(83, 85, 86, 0.051);
                        text-align: center;
                        }  

                    .misCompras {
                            display: inline-block;
                            height: 35px;
                            width: 40px;
                            margin: 5px 18px;
                            padding: 2px 8px;
                            border-radius: 10px 5px;
                            border-right: 2px rgba(53, 52, 52, 0.562) solid ;
                        background-color: rgba(83, 85, 86, 0.051);
                        text-align: center;
                        
                        }  
                    .favoritos {
                            display: inline-block;
                            height: 35px;
                            width: 40px;
                            margin: 5px 18px;
                            padding: 2px 8px;
                            border-radius: 10px 5px;
                            border-right: 2px rgba(53, 52, 52, 0.562) solid ;
                        background-color: rgba(83, 85, 86, 0.051);
                        text-align: center;
                        top: 10px;
                        }





body header nav{
    position: relative;
    top: 50px;
    left: 18vw;
    font-size: 16px;
}       

body header nav ul li{
    display: inline-block;
    margin-inline-start: 0;
    margin-inline: 5px;
    padding: 2px 12px;
    border-right: 1px solid rgb(108, 104, 1);
    border-radius: 4px;
    
}

body header nav ul li a{    
    text-decoration: none;
    color: rgb(77, 74, 2);
}

body header nav ul li:hover{
   box-shadow: 1px 1px 3px rgba(81, 81, 81, 0.88);


}






body main{
    margin: 0;
    font-size: 0;
}

body main section{
    display: inline-block;
    font-size: 0;
    
}

.ofertasVerano{
    margin: 0;
    background-image: url(../images/summer\ sale.jpg);
    height: 1050px;
    width: 40vw;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size:contain;
      
}

body main section div{
    position:absolute ;
    height: 350px;
    width: 60vw;
    
}


            body main section div.mujeres{
                margin: 0;
                top: 85px;
                right: 0;
                font-size: 1px;
                background-image: url(../images/Mujer\ modelo.webp);
                background-position: right top;
                background-repeat: no-repeat;
                background-size: cover;   
                box-shadow: 0 1px 20px rgb(114, 114, 114);
            }


                        body main section div.mujeres a button{
                                font-family: 'Lobster', cursive;
                                font-size: 80px;
                                color: rgba(125, 123, 123, 0.932);
                                background: none;
                                height: 350px;
                                width: 60vw;
                                text-align: left;
                                padding-left: 40px;
                                padding-top: 180px;
                                border:none ;
                                
                            }



            body main section div.hombres{
                margin: 0;
                top: 435px;
                right: 0;
                font-size: 1px;
                background-image: url(../images/Hombre\ modelo.webp);
                background-position: right top;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: 0 1px 20px rgb(114, 114, 114);

            }

                        body main section div.hombres a button{
                            font-family: 'Lobster', cursive;
                            font-size: 80px;
                            color:  rgba(70, 68, 68, 0.932);
                            background: none;
                            height: 350px;
                            width: 60vw;
                            text-align: left;
                            padding-left: 110px;
                            padding-top: 85px;
                            border:none ;
                        }


            body main section div.ninos{
                margin: 0;
                top: 785px;
                right: 0;
                font-size: 1px;
                background-image: url(../images/Nino\ modelo.rec.jpg);
                background-position: right top;
                background-size: cover;
                z-index: 50;
                box-shadow: 0 1px 20px rgb(114, 114, 114);
            }
                    body main section div.ninos a   button{
                        font-family: 'Lobster', cursive;
                        font-size: 80px;
                        color:  rgba(125, 123, 123, 0.932);
                        background: none;
                        height: 350px;
                        width: 60vw;
                        text-align: left;
                        padding-left: 110px;
                        padding-top: 85px;
                        border:none ;
                    }



body main section div a button:hover{
    background-color: rgba(255, 255, 255, 0.441);
    color: rgba(73, 72, 72, 0.958);
}
            


















footer{
    background-color: rgb(62, 62, 62);
    }

footer ul{
    margin-left: 8vw;
   
}

footer ul li{
    display: inline-block;
    color: aliceblue;
    margin-left: 9vw;
    margin-top: 21px;
    padding: 4px 10px;
    
    
    
}

    footer ul li:hover{
        box-shadow: 1px 1px 8px rgba(99, 99, 99, 0.88);
        border-radius: 6px;
    }



footer button{
    background-color: rgba(62, 62, 62);
    border: 2px solid rgba(255, 255, 0, 0.542);
    border-radius: 10px;
    width: 180px;
    height: 30px;
    right: 20px;
    position: relative;
    left: 80vw;
    margin: 2px;
    bottom: 30px;
    
   }

footer button a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

footer button:hover{
    background-color: rgba(87, 87, 87, 0.429);
    box-shadow:0 0 8px  rgba(255, 255, 0, 0.542);

}