// ---------Imagenes Index Cat Principal-----------

$imgMainCategoriaOferta: url("../images/summer\ sale.jpg");

$imgMainCategoriaMujer: url("../images/Mujer\ modelo.webp");
$imgMainCategoriaHombre: url("../images/Hombre\ modelo.webp");
$imgMainCategoriaNino: url("../images/Nino\ modelo.rec.jpg");




// ---------Background Iniciar seccion-----------------

$bgIniciarSeccion: url("../logo/BGCanguros.webp");


// -----Focus----------
$focusAmarilloHeader:  rgb(236, 186, 57);