
@import "./variables";
@import "./componentes/scrollAmarillo.scss";
@import "./componentes/boton1-animado.scss";
@import "./componentes/marca-ruta-navegacion.scss";
@import "./componentes/anim-box-up.scss";
@import "./componentes/selectorColores.scss";
@import "./index/header";
@import "./index/main";
@import "./index/footer";
 @import "./pag-iniciar-seccion/pag-iniciar-seccion.scss";
 @import "./pag-mujeres/pag-mujeres.scss";
 @import "./contacto/pag-contactanos.scss";
 @import "./pag-capera-detalle/pag-capera-detalle.scss";
@import "./pag-nosotros/pag-nosotros.scss";

    // RESET

*{
    margin: 0;
    padding: 0;
   
}

@media (max-width:1400px){
    #categorias{
        li{
            margin: 3px 10px !important;
        }
    }
}

@media(max-width: 767px){


        #usuario::after {
        content: "Usuario";
        }
        #carrito::after{
            content: "Carrito";
        }
        #favorito::after{
            content: "Favoritos";
        }

        
        #main-idex{
                height: 130vh !important;
                #ofertasVerano{
                    height: 40vh !important;
                    background-size: cover !important; 
                    background-position: 0px -95px !important;
                    
                }
                div{
                    section{
                        div{
                            height: 30vh !important;
                        }
                    }
                }
            
        }
        .boton{
            height: 30vh !important;
        }

        footer{
            height: 80px !important;
            div{
                ul{
                    li{
                        a{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        
        #categorias{
            li{
                margin: 3px 10px !important;
            }
        }
        #img-nosotros{
            height: 150px !important;
            width: 220px !important;
        }
        #main-nosotros{
            height: auto !important;
        }
        .animBoxUp {
            position: relative !important;
            input {
                width: 90% !important;
            }
        }
        
}
@media(max-width:575px){
        footer{
            height: 80px !important;
        }
        #ofertasVerano{
            background-attachment: scroll !important ;
        }
        .boton{
            font-size: 60px;
            &:hover{
                font-size: 70px;
            }
        }

}

@media(min-width:520px){
    #logo{
        img{
            border-radius: 30px 6px;
        }
    }
}




@media(max-width: 520px){
    #logo{
        img{
            height: 60px;
            border-radius: 30px 6px;
        }
    }
    #categorias{
        margin:0 !important;
        li{
            margin: 4px 4px !important;
            a{
                font-size: 13px;
               
        }
        }
    }
}
    


@media(max-width: 450px){
    #logo{
        img{
            height: 45px;
            border-radius: 15px 3px;
        }
    }
    #busqueda{
        height: 30px;
        button{
            padding: 2px;
            border-radius: 10px;
            img{
                padding-bottom: 3px;
            }
        }
    }
    
    #categorias{
        li{
            margin: 4px 0px !important;
            a{
                margin-left: 9px !important;
                margin-right: 9px !important;
            }
        }
    }
    
}