

            /* ----------------------PRODUCTOS  ------------------------------------------------------------------------- */


.body-productos{
    margin: 0;
    height: 100vh;
    .main-productos{
        font-size: 1rem !important;
        #cat-producto{
            font-size: 13px;
            background-color: rgb(68, 67, 67) !important;
            div{
                button{
                    height: 30px !important;
                    font-size: 13px !important;
                    border: none !important;
                    a{
                        h1{
                            font-size: 13px !important;
                        }
                    
                    }
                }
            }
        } 
        .articulos{
            div{
                div{
                    #card{
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.669);
                        &:hover{
                            box-shadow: 0 0 5px rgb(236, 186, 57),
                                                0 0 25px rgb(236, 186, 57),
                                                0 0 50px rgb(236, 186, 57),
                                                0 0 100px rgb(236, 186, 57);
                        }
                        div{ box-shadow:none;}
                        p{font-size: 12px; }
                    }
                
                }
            }
        }

    }

}
         

.hover:hover{
    list-style:disc;
    color: rgb(255,204,16) !important;
}

   
        
    
    
        