

/* ------------------------------Iniciar sección-------------------------------------------------------------------------------------- */



.body2{
    width: 98vw;
    height: 98vh !important;
    background-image: $bgIniciarSeccion;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: sans-serif;   
    font-size: 1rem;
    
    header{
        #contenedor-logo{
            width: 15%;
            height: 13%;
            #logo2{
                height:70px;
                width: 100px;
                margin: 7px 28px;
                border-radius: 30px 6px;
                box-shadow: 0 0 15px wheat;
                &:hover{
                    box-shadow: 0 0 15px rgb(236, 186, 57);
                }
            }
        }
    }
    .show-back {
        transform: rotateY(180deg);
    }

    
    #login-box{
        // height: 350px;
        
     
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        .login-box-front{
            transition: opacity .3s ease-in-out;
            // transform: rotateY(180deg);
            div{
                form{
                    .user-box {
                        position: relative;
                        input {
                            width: 80%;
                            padding: 10px ;
                            font-size: 16px;
                            color:  rgb(236, 186, 57);
                            margin-bottom: 30px;
                            border: none;
                            border-bottom: 1px solid rgb(255, 255, 255);
                            outline: none;
                            background: transparent;
                            &:focus, &:hover{
                                border-bottom: 1px solid  rgb(236, 186, 57);
                            }
                            &:focus~label, &:valid~label{
                                top: -28px;
                                left: 0;
                                font-size: 13px;
                            }
                        }
                        label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 10px 0;
                            font-size: 16px;
                            color: #fff;
                            pointer-events: none;
                            transition: .5s;
                            text-shadow: 1px 1px 2px black;
                        }

    
                    }
                    a {
                        position: relative;
                        display: inline-block;
                        padding: 10px 20px;
                        color: rgb(236, 186, 57);
                        font-size: 16px;
                        text-decoration: none;
                        text-transform: uppercase ;
                        overflow: hidden;
                        transition: .5s;
                        margin-top: 5px;
                        letter-spacing: 4px;
                       text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.679);
                       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.679);
                       backdrop-filter: blur(10px);
                       background-color: rgba(255, 255, 255, 0.03);
                       &:hover {
                        background: rgb(236, 186, 57);
                        color: #fff;
                        border-radius: 5px;
                        box-shadow: 0 0 5px rgb(236, 186, 57),
                            0 0 25px rgb(236, 186, 57),
                            0 0 50px rgb(236, 186, 57),
                            0 0 100px rgb(236, 186, 57);
                        }
                    }
                }


                                
                #footer-box{
                    list-style: none;
                    margin-top: 10px;
                    li{
                        text-align: right;
                        padding: 7px;
                        a{
                            text-decoration: none;
                            font-size: 12px;
                            padding: 4px 5px;
                            color: rgb(255, 255, 255);
                            text-shadow: 1px 1px 2px black;
                            letter-spacing: 1px;
                            &:hover{
                                border-bottom: 1px solid rgb(236, 186, 57);
                                } 
                            }
                    }
                }
            }
        }
        .login-box-back{
            position: absolute !important;
            transition: transform 0.5s ease-in-out;
            width: 320px;
            height: 340px;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-49%, -61%) rotateY(180deg) !important;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            div{
                form{
                    .user-box {
                        position: relative;
                        input {
                            width: 95%;
                            padding: 0px 8px 2px 8px ;
                            font-size: 17px;
                            color:  rgb(236, 186, 57);
                            margin-bottom: 25px;
                            border: none;
                            border-bottom: 1px solid rgb(255, 255, 255);
                            outline: none;
                            background: transparent;
                            &:focus, &:hover{
                                border-bottom: 1px solid  rgb(236, 186, 57);
                            }
                            &:focus~label, &:valid~label{
                                top: -24px;
                                left: 0;
                                font-size: 13px;
                            }
                        }
                        label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 2px 0 0 0;
                            font-size: 15px;
                            color: #fff;
                            pointer-events: none;
                            transition: .5s;
                            text-shadow: 1px 1px 2px black;
                        }

    
                    }
                    a {
                        position: relative;
                        display: flex;
                        padding: 10px 20px;
                        color: rgb(236, 186, 57);
                        font-size: 16px;
                        text-decoration: none;
                        text-transform: uppercase ;
                        text-align: center;
                        overflow: hidden;
                        transition: .5s;
                        margin-top: 5px;
                        letter-spacing: 4px;
                       text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.679);
                       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.679);
                       backdrop-filter: blur(10px);
                       background-color: rgba(255, 255, 255, 0.03);
                       &:hover {
                        background: rgb(236, 186, 57);
                        color: #fff;
                        border-radius: 5px;
                        box-shadow: 0 0 5px rgb(236, 186, 57),
                            0 0 25px rgb(236, 186, 57),
                            0 0 50px rgb(236, 186, 57),
                            0 0 100px rgb(236, 186, 57);
                        }
                        
                    }
                }


                                
                #footer-boxBack{
                    list-style: none ;
                    margin-top: 10px ;
                    li{
                        text-align: right ;
                        padding: 20px ;
                        a{
                            text-decoration: none ;
                            font-size: 12px ;
                            padding: 4px 5px ;
                            color: rgb(255, 255, 255) ;
                            text-shadow: 1px 1px 2px black ;
                            letter-spacing: 1px ;
                            &:hover{
                                border-bottom: 1px solid rgb(236, 186, 57)  ;
                                } 
                            }
                    }
                }
            }
        }
        }
        
        

    }



  
 .ocultar {
    opacity: 0;
    visibility: hidden;
  }
  .mostrar{
    opacity: 1 !important;
  }
  .loginFrontBox{
    height: 350px !important;
    width: 340PX !important;
    padding: 50px 40px !important;
  }
  .loginBackBox{
    height: 500px !important;
    padding: 20px 20px !important;
  }


@media (min-width:575px){
     #login-box{
            box-sizing: border-box;
            height: 330px;
            width: 340px;
            padding: 40px 50px;
            border-radius: 20px;
            background-color: rgba(207, 214, 219, 0.226);
            box-shadow: 0 15px 25px rgb(0, 0, 0),
                        0 0 35px rgb(0, 0, 0);
            
        }
    }
@media(max-width:574px){
    #login-box{
        box-sizing: border-box;
        height: 330px;
        width: 310px;
        margin-top: 20px;
        padding-top: 40px;
        padding-left: 40px;
        border-radius: 20px;
        background-color: rgba(207, 214, 219, 0.331);
        box-shadow: 0 15px 25px rgb(0, 0, 0),
                    0 0 35px rgb(0, 0, 0);
        }
}






 







