
    /* --------------------Pagina DETALLE-------------------------------------------------------------------- */

    #body-ropa{
        // overflow-x: hidden;
        height: 100% !important;
        background-color: rgba(227, 227, 227, 0.643);
        main{
            height: 100% !important;
             
            #contePrincipal{
                width: 100vw;
                height: 90vh;
                div{
                        #imgLateral{
                            img{
                                height: 100px ;
                                width: 100px ;
                                margin: 6px !important;
                                size: contain !important;
                                border-radius: 20px !important;
                                border: 1px solid gray !important;
                                box-shadow: 0 0 2px rgb(77, 77, 77) !important;
                                padding: 0 !important;
                                &:hover{
                                    scale: 1.1;
                                    box-shadow: 0 0 5px black !important;
                                }
                            }
                        }
                        #imgPrinc{
                            img{
                                height: 490px ;
                                width: 520px ;
                                border-radius: 50px 15px !important;
                                box-shadow:5px 5px 15px gray;
                                
                            }
                        }
                }
                #conteDetalles{
                    font-family: 'Roboto', sans-serif !important;
                    h1{
                        text-shadow: 1px  0   2px rgb(100, 100, 100) !important; 
                    }
                    h2{
                        font-size: 27px !important;
                        color: rgb(9, 9, 9) !important;
                        text-shadow: 1px  1px   4px rgb(58, 58, 58) !important;
                    }
                    p{
                        font-size: 15px !important;  
                    }
                    .colores{
                        padding: 5px;
                        margin: 10px 1px;
                        button{
                            height: 20px;
                            width: 20px;
                            margin:  1px 10px;
                            border-radius: 10px;
                            font-size: 0;
                            border: 0px solid;  
                        }
                        #Negro{
                            background-color: black;
                            box-shadow: 0   0   5px rgb(52, 52, 52);
                            &:hover{box-shadow: 2px 2px 6px rgb(12, 12, 12);}
                        }
                        #Rosado{
                            background-color: rgb(255, 118, 193);
                            box-shadow: 0   0   5px rgb(212, 99, 161);
                            &:hover{box-shadow: 2px 2px   5px rgb(212, 99, 161)}
                        }
                        #Blanco{
                            background-color: aliceblue;
                            box-shadow: 0   0   5px grey;
                            &:hover{
                                box-shadow: 2px 2px  5px grey;}
                        }
                    }
                    .Talle{ 
                        height: 30px;
                        margin: 8px;
                        padding: 0 10px 15px 10px;
                        width: 100%;
                        label{
                            font-weight: bolder;
                            }
                        select{
                            width: 60%;
                            margin: 2px 20px;
                            padding: 3px 10px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: bolder;
                            border-radius: 8px;
                            background-color: rgba(222, 221, 221, 0.835);
                            letter-spacing: 3px;
                        }
                    }
                    .comprar{
                        margin: 15px 10px;
                        width: 100%;
                        height: 40px;
                        border-radius: 8px;
                        border: 0px solid;
                        background-color: rgb(123, 123, 123);
                        color: aliceblue;
                        text-shadow: 1px  1px   15px rgb(72, 72, 72);
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        letter-spacing: 3px;
                        text-shadow: 1px 1px 15px black,1px 1px 1px black;
                        &:hover{
                            background-color: rgb(82, 82, 82);}
                    }
                    .masDetalles{
                        list-style: none;
                        li{
                            padding: 10px 10px 10px;
                            &:hover {
                                text-shadow: 1px 1px 2px rgb(79, 79, 79);
                            } 
                        
                        }
                    }
                }

            }
        }


    }
    
    
    @media(max-width:813px){
        #imgLateral{
            img{
                height: 80px !important;
                width: 80px !important;
                margin: 6px !important;
               
            }
        }
        .Talle{
            form{
                select{
                    width: 50% !important;
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                }
            } 
        }
        
    }

    
    
    @media(max-width:767px){
        #imgPrinc{
            img{
                height: 370px !important;
                width: 370px !important;
            }
        }
    }
    

    @media(max-width:635px){
        #imgLateral{
            img{
                height: 65px !important;
                width: 65px !important;
                margin: 2px !important;
            }
        }       
    }

    @media(max-width:575px){
        #contePrincipal{
            height: auto !important;
        }
        #conteDetalles{
            padding-top: 5px !important;
            padding-left: 15px !important;
            width: 95vw !important;
        }
    }
    
    @media(max-width:449px){
        #imgPrinc{
            width: 100vw !important;
            padding-left: 20px !important;
            padding-right: 0px !important;
        }
    }
    
    
    